{% if include.links and include.links.size > 0 %}
<div class="person-links">
  {% for link in include.links %}
  {% for kvp in link %}
    {% assign platform = kvp[0] %}
    {% assign value = kvp[1] %}
  {% endfor %}
  {% assign url = value %}
  {% assign label = value | capitalize %}
  {% unless value contains "http" %}
    {% assign label = platform | capitalize %}
    {% case platform %}
      {% when "twitter" %}{% assign url = "https://twitter.com/" | append: value %}
      {% when "facebook" %}{% assign url = "https://facebook.com/" | append: value %}
      {% when "instagram" %}{% assign url = "https://instagram.com/" | append: value %}
      {% when "github" %}{% assign url = "https://github.com/" | append: value %}
      {% when "twitch" %}{% assign url = "https://twitch.tv/" | append: value %}
      {% when "tiktok" %}{% assign url = "https://tiktok.com/@" | append: value %}
      {% when "onlyfans" %}{% assign url = "https://onlyfans.com/" | append: value %}
      {% when "substack" %}{% assign url = "https://" | append: value | append: ".substack.com" %}
    {% endcase %}
  {% endunless %}
  <a href="{{ url }}" class="person-link" target="_blank" rel="noopener" aria-label="{{ label }}">
    {% include icon.html name=platform %}
    <span>{{ label }}</span>
  </a>
  {% endfor %}
</div>
{% endif %}
