---
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
{% assign episodes = site.podcast | where: "show", page.slug | sort: "date" | reverse %}
<rss version="2.0"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:media="http://search.yahoo.com/mrss/">
  <channel>
    <title>{{ page.name | xml_escape }}</title>
    <link>{{ site.url }}{{ site.baseurl }}/podcast/{{ page.slug }}/</link>
    <description>{{ page.description | xml_escape }}</description>
    <language>{{ page.language }}</language>
    <copyright>&#169; {{ 'now' | date: "%Y" }} {{ page.author }}</copyright>
    <atom:link href="{{ site.url }}{{ site.baseurl }}{{ page.feed_url }}" rel="self" type="application/rss+xml" />
    <itunes:title>{{ page.name | xml_escape }}</itunes:title>
    <itunes:subtitle>{{ page.subtitle | xml_escape }}</itunes:subtitle>
    <itunes:summary>{{ page.description | xml_escape }}</itunes:summary>
    <itunes:author>{{ page.author }}</itunes:author>
    <itunes:explicit>{{ page.explicit }}</itunes:explicit>
    <itunes:type>episodic</itunes:type>
    <itunes:owner>
      <itunes:name>{{ page.author }}</itunes:name>
      <itunes:email>{{ page.email }}</itunes:email>
    </itunes:owner>
    <itunes:category text="{{ page.category }}">
      <itunes:category text="{{ page.subcategory }}" />
    </itunes:category>
    <itunes:image href="{{ site.url }}{{ site.baseurl }}{{ page.image }}" />
    <image>
      <url>{{ site.url }}{{ site.baseurl }}{{ page.image }}</url>
      <title>{{ page.name | xml_escape }}</title>
      <link>{{ site.url }}{{ site.baseurl }}/podcast/{{ page.slug }}/</link>
    </image>
    {% for episode in episodes %}
    <item>
      <title>{{ episode.title | xml_escape }}</title>
      <link>{{ site.url }}{{ site.baseurl }}{{ episode.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ site.baseurl }}{{ episode.url }}</guid>
      <description><![CDATA[{{ episode.content | strip_html | truncate: 4000 }}]]></description>
      <content:encoded><![CDATA[{{ episode.content }}]]></content:encoded>
      <pubDate>{{ episode.date | date_to_rfc822 }}</pubDate>
      {% if episode.audio_url %}
      <enclosure url="{{ episode.audio_url }}" length="{{ episode.audio_size | default: '0' }}" type="{{ episode.audio_type | default: 'audio/mpeg' }}" />
      {% endif %}
      <itunes:title>{{ episode.title | xml_escape }}</itunes:title>
      <itunes:summary><![CDATA[{{ episode.description }}]]></itunes:summary>
      <itunes:author>{{ page.author }}</itunes:author>
      <itunes:duration>{{ episode.duration }}</itunes:duration>
      <itunes:episode>{{ episode.episode_number }}</itunes:episode>
      <itunes:episodeType>full</itunes:episodeType>
      <itunes:explicit>{{ episode.explicit | default: page.explicit }}</itunes:explicit>
    </item>
    {% endfor %}
  </channel>
</rss>